@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500&display=swap");
.navbar-brand {
  font-family: "Playfair Display";
  font-weight: 500;
}
.navbar{
  font-family: "Times New Roman", "Times", "serif";
  font-weight: 500;
}


